<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Jump_01.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 74}</string>
			<key>spriteSourceSize</key>
			<string>{67, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{461, 0}, {67, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_02.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 74}</string>
			<key>spriteSourceSize</key>
			<string>{66, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 278}, {66, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_03.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 74}</string>
			<key>spriteSourceSize</key>
			<string>{65, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 209}, {65, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_04.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 74}</string>
			<key>spriteSourceSize</key>
			<string>{64, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 419}, {64, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_05.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 74}</string>
			<key>spriteSourceSize</key>
			<string>{65, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 351}, {65, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_06.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 74}</string>
			<key>spriteSourceSize</key>
			<string>{63, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 152}, {63, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_07.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 74}</string>
			<key>spriteSourceSize</key>
			<string>{63, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 0}, {63, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_08.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 74}</string>
			<key>spriteSourceSize</key>
			<string>{62, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{459, 228}, {62, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jump_09.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 74}</string>
			<key>spriteSourceSize</key>
			<string>{63, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 76}, {63, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShootUp_01.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 134}</string>
			<key>spriteSourceSize</key>
			<string>{76, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{307, 0}, {76, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShootUp_02.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 134}</string>
			<key>spriteSourceSize</key>
			<string>{82, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 202}, {82, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShootUp_03.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 134}</string>
			<key>spriteSourceSize</key>
			<string>{74, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 0}, {74, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShootUp_04.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 134}</string>
			<key>spriteSourceSize</key>
			<string>{82, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 0}, {82, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShootUp_05.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 134}</string>
			<key>spriteSourceSize</key>
			<string>{76, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{229, 0}, {76, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shoot_01.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 65}</string>
			<key>spriteSourceSize</key>
			<string>{109, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 136}, {109, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shoot_02.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 65}</string>
			<key>spriteSourceSize</key>
			<string>{132, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 68}, {132, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shoot_03.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 65}</string>
			<key>spriteSourceSize</key>
			<string>{137, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 136}, {137, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shoot_04.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {141, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{141, 65}</string>
			<key>spriteSourceSize</key>
			<string>{141, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 135}, {141, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Shoot_05.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {143, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{143, 66}</string>
			<key>spriteSourceSize</key>
			<string>{143, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {143, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_01.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 71}</string>
			<key>spriteSourceSize</key>
			<string>{79, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 136}, {79, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_02.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 71}</string>
			<key>spriteSourceSize</key>
			<string>{75, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 272}, {75, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_03.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 71}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 478}, {71, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_04.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 71}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 278}, {71, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_05.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 71}</string>
			<key>spriteSourceSize</key>
			<string>{70, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 414}, {70, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_06.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 71}</string>
			<key>spriteSourceSize</key>
			<string>{68, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{437, 419}, {68, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_07.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 71}</string>
			<key>spriteSourceSize</key>
			<string>{67, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{437, 492}, {67, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_08.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 71}</string>
			<key>spriteSourceSize</key>
			<string>{68, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{443, 304}, {68, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_09.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 66}</string>
			<key>spriteSourceSize</key>
			<string>{73, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 345}, {73, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_10.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 66}</string>
			<key>spriteSourceSize</key>
			<string>{70, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 414}, {70, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_11.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 66}</string>
			<key>spriteSourceSize</key>
			<string>{69, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 619}, {69, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_12.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 66}</string>
			<key>spriteSourceSize</key>
			<string>{70, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 351}, {70, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_13.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 66}</string>
			<key>spriteSourceSize</key>
			<string>{70, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 551}, {70, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_14.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 66}</string>
			<key>spriteSourceSize</key>
			<string>{69, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 487}, {69, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_15.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 66}</string>
			<key>spriteSourceSize</key>
			<string>{69, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 482}, {69, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Stand_16.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 66}</string>
			<key>spriteSourceSize</key>
			<string>{71, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{319, 203}, {71, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_01.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 67}</string>
			<key>spriteSourceSize</key>
			<string>{79, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 203}, {79, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_02.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 67}</string>
			<key>spriteSourceSize</key>
			<string>{75, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 338}, {75, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_03.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 67}</string>
			<key>spriteSourceSize</key>
			<string>{74, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 209}, {74, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_04.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 67}</string>
			<key>spriteSourceSize</key>
			<string>{72, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 345}, {72, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_05.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 67}</string>
			<key>spriteSourceSize</key>
			<string>{69, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 487}, {69, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_06.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 67}</string>
			<key>spriteSourceSize</key>
			<string>{68, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 556}, {68, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_07.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 67}</string>
			<key>spriteSourceSize</key>
			<string>{69, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 553}, {69, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_08.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 67}</string>
			<key>spriteSourceSize</key>
			<string>{72, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 413}, {72, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_09.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 69}</string>
			<key>spriteSourceSize</key>
			<string>{76, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 203}, {76, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_10.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 69}</string>
			<key>spriteSourceSize</key>
			<string>{70, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 482}, {70, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_11.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 69}</string>
			<key>spriteSourceSize</key>
			<string>{66, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 687}, {66, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_12.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 69}</string>
			<key>spriteSourceSize</key>
			<string>{66, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{213, 556}, {66, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_13.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 69}</string>
			<key>spriteSourceSize</key>
			<string>{65, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 625}, {65, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_14.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 69}</string>
			<key>spriteSourceSize</key>
			<string>{67, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 622}, {67, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_15.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 69}</string>
			<key>spriteSourceSize</key>
			<string>{72, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 407}, {72, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Walk_16.gif</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 69}</string>
			<key>spriteSourceSize</key>
			<string>{73, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 274}, {73, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>MachineGun.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>